/*
    Licensed to the Apache Software Foundation (ASF) under one or more
	contributor license agreements.  See the NOTICE file distributed with
	this work for additional information regarding copyright ownership.
	The ASF licenses this file to You under the Apache License, Version 2.0
	(the "License"); you may not use this file except in compliance with
	the License.  You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
 */

html, body {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #616161;
}

html {
    height: 100%;
}

.container {
 height: 100%;
}

/*.right {
    text-align: right;
}*/

.clearfix{
    clear:both;
}
/* Flexbox Sticky Footer */

body {
    /*display: flex;
    min-height: 100vh;
    flex-direction: column;*/
    background-color: #fff;
}

.modal {
    word-wrap: break-word;
}

/* label color */
.input-field label {
 color: #2196f3;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
 color: #2196f3;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=password]:focus {
 border-bottom: 1px solid #2196f3;
 box-shadow: 0 1px 0 0 #2196f3;
}
/* valid color */
.input-field input[type=text].valid, .input-field input[type=password].valid {
 border-bottom: 1px solid #2196f3;
 box-shadow: 0 1px 0 0 #2196f3;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=password].invalid {
 border-bottom: 1px solid #f44336;
 box-shadow: 0 1px 0 0 #f44336;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #2196f3;
}
/* select box style */
.dropdown-content li>a, .dropdown-content li>span {
  display: block;
  padding: 1rem 1rem;
  color: #2196f3;
}
select:focus {
  outline: 1px solid #2196f3;
}
